
body {
    margin: 0; /*  Отступы общей страницы */
    padding: 0; /*  Отступы общей страницы */
    height: 100%;
}

.wrapper {
  position: relative;
  min-height: 100%;
}
.content {
  max-width: 500px;
  margin: auto;
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 90px;
}

.site-header {
    position: absolute; /*  Позиция раздела */
    z-index: 9; /*  Наложение */
    top: 0; /*  Смещение вверх = 0 */
    left: 0; /*  Смещение влево = 0 */
    width: 100%; /*  размер страницы в процентах */
}

.site-header, .main-header {
    position: relative; /*  Позиция раздела */
    background-image: url(../img/header.png); /*  Заливка меню картинкой */
    box-shadow: 0px 0px 18px 1px rgba(0, 175, 148, 0.3);  /*  тень меню */
    height: 120px; /*  размер меню вниз */
}
header {
    display: block; /*  Позиция раздела */
}
.menu {
    padding: 2rem 1rem; /*  Величина полей меню */
}

 

.menu .rt-container {
    display: -webkit-flex; /*  Позиция блока */
    align-items: center; /*  Позиция центр */
    justify-content: space-between; /*  Позиция раздела */
}

.rt-container {
    max-width: 1200px; /*  размер container в PX */
}
.rt-container {
    width: 100%; /*  размер container в % */
    margin-right: auto; /*  Смещение вправо = auto */
    margin-left: auto; /*  Смещение влево = auto */
    padding-right: 15px;  /*  Смещение вправо = 15px */
    padding-left: 15px;  /*  Смещение влево = 15px */
}


.d-flex {
    display: flex!important; /*  Позиция блока обязательная к исполнению */
} 

.main-menu ul {
    margin: 0; /*  Отступы раздела меню*/
    margin-right: -13px;  /*  смещение вправо текста меню*/
    padding: 0; /*  Отступы раздела меню*/
    list-style: outside none none; /*  Убираем стили кругов с текста*/
    text-align: center; /* позиция по центру*/
}

.main-menu ul li {
    position: relative; /*  Позиция раздела */
    display: inline-block;   /*  Позиция блока текста*/
}

.right {
    position: relative; /*  Позиция раздела кнопки*/
    margin-left: 30px;
}

.d-md-block {
    display: block!important; /*  Позиция блока обязательная к исполнению */
} 
 
.button {
    font-family: sans-serif; /*  Выбор шрифта текста на кнопки */
    position: relative; /*  Позиция кнопки */
    color: #fff;  /*  цвет текста кнопки */
    border: none; /*  Обводка кнопки = 0 */
    background: linear-gradient(-145deg, #23cc88 0%, #8ecf35 100%);  /*  заливка кнопки */
    text-transform: uppercase!important; /*  выбор заглавного текста на кнопке */
    box-shadow: 0 18px 30px 0 rgba(38, 204, 133, .36);  /* тень кнопки */
    padding: 16px 37px; /* размеры кнопки*/
    font-weight: 600; /* Толщина шрифта на кнопке*/
    border-radius: 50px; /* Скругление кнопки*/
    text-decoration: none; /* Убираем подчеркивание текста*/
 }
 /*  Эффект при наведение на кнопки HOVER */
 .button:hover { 

    background: linear-gradient(145deg, #23cc88 0%, #8ecf35 100%); /* новая заливка кнопки */
 
 }
 
  /*  Эффект при наведение на кнопки HOVER */
.main-menu ul li a {
    font-family: sans-serif;  /*  Выбор шрифта текста в меню */
    font-size: 16px; /*  Выбор размера текста в меню */
    font-weight: 700; /*  Выбор толщины текста в меню */
    display: block; /*  Позиция блока */
    padding: 0 18px; /*  Отступы текста меню*/
    transition: all .34s ease-in-out; /*  Анимация текста при загрузки*/
    text-transform: capitalize; /*  выбор регистр символов в меню */
    color: #ffffff;  /*  цвет текста меню */
    text-decoration: none; /* Убираем подчеркивание текста меню*/
}

.main-menu ul li a:hover { 
   color: #76ffec; /*  цвет текста меню при наведение */
}
 
.white-menu .main-menu > ul > li > a {
    color: #fff; /*  цвет текста меню*/
}

footer {
  background-color: #FFF;
  color: white;
  padding: 15px;
  text-align: center;
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  color: black;
  border-radius: 50%;
}

.footer-nav p {
	text-align: center;
    color: black;
}

.site-footer {
    background-image: url(../img/header.png); /*  Заливка меню картинкой */
	text-align: center;
	margin: 10px 0;
}

#social-wrapper {
	text-align: center;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
