{% extends "page.html" %}

{% block main_content %}
    {% for article in articles %}
        <article>
            <h2> {{ article["title"] }} </h2>
            {{ article["content"] }}
        </article>
    {% endfor %}
    
    {% if articles|length == 0 %}
        <div class='message'> На сайте нет ни одной статьи </div>
    {% endif %}
    
{% endblock %}
