<!DOCTYPE html>
<html>
	<head>
        {% block head %}
		    <meta charset="UTF-8">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <title>Title</title>
        {% endblock %}
	</head>
	<body>
        <div class="wrapper">
        {% block page_content %}
        {% endblock %}
        </div>
	</head>
	</body>
</html>
