<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="social-wrapper">
  <div class="footer-social-icons">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-twitter"></a>
  </div>
  </div>

  <nav class="footer-nav" role="navigation">
    <p>Copyright Cisco Rendon. All rights reserved.</p>
  </nav>
</footer>
