{% macro render_field(field) %}
    {{ field.label }} </br>
    {{ field(**kwargs)|safe }} </br>
    {% if field.errors %}
        <ul class=errors>
            {% for error in field.errors %} <li> {{ error }} </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
