<header class="site-header">
<div class="main-header rt-sticky">
    <div class="menu">
        <div class="rt-container">
		
			<!---- Логотип ----->
            <a href="/" class="brand-logo"><img src="{{ url_for('static', filename='img/logo2.png') }}" alt=""></a>
           <!---- Конец логотипа ----->
		   
		   
            <div class="d-flex">
			
			
			<!---- Начало меню ----->
                <div class="main-menu">
				<ul>
				<li> <a href="#">Главная</a></li>
				<li> <a href="#">Новости</a></li>
				<li> <a href="#">Прайс</a></li>
				<li> <a href="#">Информация</a></li>
				<li> <a href="#">Контакты</a></li>

				<li> <a href="/sign_in">Sign in</a></li>
				<li> <a href="/sign_up">Sign up</a></li>
				</ul>
				</div>
				
				<!---- Конец меню ----->
				
				
            </div>

        </div>
    </div>
</div>
</header>

<!---- конец общего HEADER ----->
