{% extends "base_page.html" %}

{% block page_content %}

    {% block header %}
        {% include "header.html" %}
    {% endblock %}

    <div class="content">

      {% with message = get_flashed_messages(category_filter=['sign_in', 'sign_up']) %}
      {% for mesg in message %}
      <h1>{{ mesg }}</h1>
      {% endfor %}
      {% endwith %}

        {% block main_content %}
        {% endblock %}
    </div>

    {% block footer %}
        {% include "footer.html" %}
    {% endblock %}

{% endblock %}
