{% extends "page.html" %}

{% block main_content %}
<h1>Sign Up</h1>
      {% with message = get_flashed_messages(category_filter=['sign_up_error']) %}
      {% for mesg in message %}
      <h1>{{ mesg }}</h1>
      {% endfor %}
      {% endwith %}
{% from "form_helpers.html" import render_field %}
<form action="/sign_up" method="POST">
    {{ form.hidden_tag() }}
    {{ render_field(form.login) }}
    {{ render_field(form.password) }}
    {{ render_field(form.second_password) }}
    {{ render_field(form.submit) }}
</form>
{% endblock %}
